In [1]:
import pandas
pbp=pandas.read_csv('./film/hun1920.csv')

In [2]:
boxscore=pandas.read_csv('./boxscore/gamehunx1920.csv',header=None)
boxscore.columns=["CODE","team","GM","Min","PF","DF","2Pm","2Pa","2PP","3Pm","3Pa","3PP","FTm","Fta","FTP","ORB","DRB","TRB","BS","SR","TOV","ST","ASS","PTS", "VALU","OP","OER","ASTO","VIR","extra1","date","extra3","nat"]

In [3]:
boxscore=boxscore[boxscore['team']==9800]
boxscore=boxscore[boxscore['GM']==1]
playedgames=boxscore['extra1'].unique()

In [4]:
starters=dict()
cnt=0
for game in playedgames:
    starter=[]
    for i,row in boxscore.iterrows():
        if((row['team']==9800)&(row['extra1']==game)):
            starter.append(row['CODE'])
    tmp=frozenset(starter)
    if(tmp not in starters):
        starters.update({tmp:cnt})
        cnt+=1
starters

{frozenset({'A28420', 'A32899', 'A55090', 'A61278', 'A65252'}): 0,
 frozenset({'A28420', 'A32899', 'A55090', 'A65252', 'A66385'}): 1,
 frozenset({'A55090', 'A65252', 'A66385', 'A67233', 'A67259'}): 2,
 frozenset({'A32899', 'A55090', 'A64726', 'A65252', 'A66385'}): 3,
 frozenset({'A32899', 'A55090', 'A65252', 'A66385', 'A81371'}): 4}

In [5]:
#Egész szezonban összesen csak 5féle kezdő ötös volt

In [5]:
pbp['gamecode']=pbp['gamecode'].str.replace('hun_','').astype('int64')
pbp

,id,year,lea,gamecode,teamid,side,playername,playername2,playercode,playercode2,...,subcode,rel_id,period,minute,sec,x,y,area,original_text,sorrend
0,93008423,x1920,hun,1245,9800,0,DJURASOVIC Bozo,NaN,A32899,NaN,...,0,0,4,10,0,0,0,NaN,NaN,474
1,93008429,x1920,hun,1245,9800,0,WITTMANN Krisztian,NaN,A55090,NaN,...,3,0,4,10,0,112,168,NaN,NaN,480
2,93008428,x1920,hun,1245,40010,1,BOZOVIC Milivoje,NaN,A29560,NaN,...,1,0,4,10,0,328,139,NaN,NaN,479
3,93008418,x1920,hun,1245,9800,0,KARAHODZIC Kemal,NaN,A65252,NaN,...,0,0,4,10,0,0,0,NaN,NaN,469
4,93008425,x1920,hun,1245,40010,1,RIZVIC Ramo,NaN,A52597,A61604,...,0,0,4,10,0,0,0,NaN,NaN,476
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66544,93080767,x1920,hun,1296,40000,1,DRENOVAC Djordje,NaN,A41349,NaN,...,4,0,4,10,0,0,0,NaN,NaN,480
66545,93080768,x1920,hun,1296,40000,1,DRENOVAC Djordje,NaN,A41349,NaN,...,4,0,4,10,0,0,0,NaN,NaN,481
66546,93080769,x1920,hun,1296,9213,0,PONGO Mate,NaN,A48064,NaN,...,3,0,4,10,0,76,17,NaN,NaN,482
66547,93080770,x1920,hun,1296,40000,1,DRENOVAC Djordje,NaN,A41349,NaN,...,0,0,4,10,0,0,0,NaN,NaN,483
66548,93080771,x1920,hun,1296,0,0,NaN,NaN,NaN,NaN,...,0,0,4,10,0,0,0,NaN,NaN,484

In [6]:
hashtable=dict()
cnt=0
for game in playedgames:
    starter=set()
    for i,row in boxscore.iterrows():
        if((row['team']==9800)&(row['extra1']==game)):
            starter.add(row['CODE'])
    tmp=frozenset(starter)
    if(tmp not in hashtable):
        hashtable.update({tmp:cnt})
        cnt+=1
    pbp_game=pbp[pbp['gamecode']==game].sort_values(by=['sorrend'])
    for i,row in pbp_game.iterrows():
         if((row['teamid']==9800)&(row['fccode']==1011)):
            starter.add(row['playercode'])
            starter.discard(row['playercode2'])
            tmp=frozenset(starter)
            if(tmp not in hashtable):
                hashtable.update({tmp:cnt})
                cnt+=1

In [8]:
hashtable

{frozenset({'A28420', 'A32899', 'A55090', 'A61278', 'A65252'}): 0,
 frozenset({'A28420', 'A32899', 'A55090', 'A56154', 'A61278'}): 1,
 frozenset({'A28420', 'A32899', 'A55090', 'A56154', 'A66385'}): 2,
 frozenset({'A28420', 'A32899', 'A56154', 'A61278', 'A66385'}): 3,
 frozenset({'A28420', 'A32899', 'A61278', 'A65252', 'A66385'}): 4,
 frozenset({'A32899', 'A61278', 'A65252', 'A66385', 'A67233'}): 5,
 frozenset({'A28420', 'A61278', 'A65252', 'A66385', 'A67233'}): 6,
 frozenset({'A28420', 'A55090', 'A65252', 'A66385', 'A67233'}): 7,
 frozenset({'A28420', 'A32899', 'A55090', 'A65252', 'A66385'}): 8,
 frozenset({'A32899', 'A55090', 'A61278', 'A65252', 'A66385'}): 9,
 frozenset({'A28420', 'A55090', 'A61278', 'A65252', 'A66385'}): 10,
 frozenset({'A28420', 'A55090', 'A56154', 'A66385', 'A67233'}): 11,
 frozenset({'A28420', 'A32899', 'A55090', 'A65252', 'A67233'}): 12,
 frozenset({'A28420', 'A32899', 'A55090', 'A66385', 'A67233'}): 13,
 frozenset({'A28420', 'A32899', 'A56154', 'A66385', 'A67233'}): 14,
 frozenset({'A28420', 'A32899', 'A55090', 'A56154', 'A67233'}): 15,
 frozenset({'A28420', 'A32899', 'A65252', 'A66385', 'A67233'}): 16,
 frozenset({'A32899', 'A55090', 'A56154', 'A61278', 'A66385'}): 17,
 frozenset({'A28420', 'A32899', 'A61278', 'A64726', 'A66385'}): 18,
 frozenset({'A28420', 'A32899', 'A64726', 'A65252', 'A66385'}): 19,
 frozenset({'A28420', 'A32899', 'A65252', 'A66385', 'A67259'}): 20,
 frozenset({'A28420', 'A55090', 'A65252', 'A66385', 'A67259'}): 21,
 frozenset({'A28420', 'A32899', 'A55090', 'A65252', 'A67259'}): 22,
 frozenset({'A28420', 'A55090', 'A56154', 'A61278', 'A66385'}): 23,
 frozenset({'A55090', 'A56154', 'A61278', 'A65252', 'A66385'}): 24,
 frozenset({'A28420', 'A55090', 'A56154', 'A61278', 'A65252'}): 25,
 frozenset({'A28420', 'A56154', 'A61278', 'A65252', 'A66385'}): 26,
 frozenset({'A28420', 'A56154', 'A64726', 'A65252', 'A66385'}): 27,
 frozenset({'A28420', 'A55090', 'A56154', 'A64726', 'A66385'}): 28,
 frozenset({'A28420', 'A55090', 'A64726', 'A65252', 'A66385'}): 29,
 frozenset({'A32899', 'A55090', 'A56154', 'A64726', 'A66385'}): 30,
 frozenset({'A32899', 'A55090', 'A64726', 'A65252', 'A66385'}): 31,
 frozenset({'A55090', 'A64726', 'A65252', 'A66385', 'A67259'}): 32,
 frozenset({'A28420', 'A55090', 'A64726', 'A65252', 'A67259'}): 33,
 frozenset({'A28420', 'A64726', 'A65252', 'A66385', 'A67259'}): 34,
 frozenset({'A32899', 'A61278', 'A64726', 'A65252', 'A66385'}): 35,
 frozenset({'A28420', 'A32899', 'A55090', 'A64726', 'A65252'}): 36,
 frozenset({'A28420', 'A32899', 'A56154', 'A64726', 'A66385'}): 37,
 frozenset({'A32899', 'A56154', 'A61278', 'A64726', 'A66385'}): 38,
 frozenset({'A28420', 'A32899', 'A56154', 'A65252', 'A66385'}): 39,
 frozenset({'A28420', 'A61278', 'A64726', 'A65252', 'A66385'}): 40,
 frozenset({'A28420', 'A55090', 'A61278', 'A65252', 'A67259'}): 41,
 frozenset({'A55090', 'A61278', 'A64726', 'A66385', 'A67259'}): 42,
 frozenset({'A55090', 'A56154', 'A61278', 'A66385', 'A67259'}): 43,
 frozenset({'A32899', 'A55090', 'A61278', 'A66385', 'A67259'}): 44,
 frozenset({'A28420', 'A55090', 'A56154', 'A66385', 'A67259'}): 45,
 frozenset({'A55090', 'A56154', 'A65252', 'A66385', 'A67259'}): 46,
 frozenset({'A55090', 'A56154', 'A64726', 'A66385', 'A67259'}): 47,
 frozenset({'A56154', 'A64726', 'A65252', 'A66385', 'A67259'}): 48,
 frozenset({'A61278', 'A64726', 'A65252', 'A66385', 'A67259'}): 49,
 frozenset({'A55090', 'A61278', 'A65252', 'A66385', 'A67259'}): 50,
 frozenset({'A28420', 'A32899', 'A64726', 'A65252', 'A67259'}): 51,
 frozenset({'A32899', 'A55090', 'A61278', 'A64726', 'A66385'}): 52,
 frozenset({'A55090', 'A61278', 'A64726', 'A65252', 'A66385'}): 53,
 frozenset({'A55090', 'A56154', 'A61278', 'A64726', 'A66385'}): 54,
 frozenset({'A28420', 'A56154', 'A61278', 'A64726', 'A66385'}): 55,
 frozenset({'A28420', 'A32899', 'A55090', 'A64726', 'A66385'}): 56,
 frozenset({'A28420', 'A32899', 'A55090', 'A56154', 'A64726'}): 57,
 frozenset({'A32899', 'A55090', 'A61278', 'A64726', 'A65252'}): 58,
 frozenset({'A28420', 'A55090', 'A61278', 'A64726', 'A65252'}): 59,
 frozenset({'A28420', 'A32899', 'A61278', 'A64726', 'A65252'}): 60,
 frozenset({'A28420', 'A55090', 'A61278', 'A64726', 'A66385'}): 61,
 frozenset({'A28420', 'A55090', 'A56154', 'A64726', 'A67259'}): 62,
 frozenset({'A55090', 'A56154', 'A64726', 'A67233', 'A67259'}): 63,
 frozenset({'A56154', 'A64726', 'A66385', 'A67233', 'A67259'}): 64,
 frozenset({'A28420', 'A32899', 'A55090', 'A66385', 'A67259'}): 65,
 frozenset({'A32899', 'A55090', 'A56154', 'A66385', 'A67233'}): 66,
 frozenset({'A32899', 'A55090', 'A65252', 'A66385', 'A67233'}): 67,
 frozenset({'A28420', 'A32899', 'A55090', 'A61278', 'A66385'}): 68,
 frozenset({'A28420', 'A56154', 'A64726', 'A66385', 'A67259'}): 69,
 frozenset({'A28420', 'A61278', 'A65252', 'A66385', 'A67259'}): 70,
 frozenset({'A56154', 'A61278', 'A64726', 'A66385', 'A67259'}): 71,
 frozenset({'A28420', 'A61278', 'A64726', 'A65252', 'A67259'}): 72,
 frozenset({'A28420', 'A56154', 'A61278', 'A64726', 'A67259'}): 73,
 frozenset({'A28420', 'A32899', 'A56154', 'A64726', 'A67259'}): 74,
 frozenset({'A28420', 'A32899', 'A56154', 'A66385', 'A67259'}): 75,
 frozenset({'A28420', 'A55090', 'A65252', 'A67233', 'A67259'}): 76,
 frozenset({'A55090', 'A64726', 'A65252', 'A67233', 'A67259'}): 77,
 frozenset({'A56154', 'A64726', 'A67233', 'A67259', 'A73040'}): 78,
 frozenset({'A64726', 'A64727', 'A67233', 'A67259', 'A73040'}): 79,
 frozenset({'A32899', 'A55090', 'A56154', 'A65252', 'A66385'}): 80,
 frozenset({'A28420', 'A64726', 'A65252', 'A66385', 'A67233'}): 81,
 frozenset({'A61278', 'A64726', 'A65252', 'A66385', 'A67233'}): 82,
 frozenset({'A61278', 'A64726', 'A65252', 'A67233', 'A67259'}): 83,
 frozenset({'A56154', 'A61278', 'A64726', 'A67233', 'A67259'}): 84,
 frozenset({'A61278', 'A64726', 'A64727', 'A67233', 'A67259'}): 85,
 frozenset({'A28420', 'A55090', 'A64726', 'A65252', 'A67233'}): 86,
 frozenset({'A55090', 'A65252', 'A66385', 'A67233', 'A67259'}): 87,
 frozenset({'A55090', 'A61278', 'A66385', 'A67233', 'A67259'}): 88,
 frozenset({'A28062', 'A55090', 'A56154', 'A61278', 'A66385'}): 89,
 frozenset({'A28062', 'A55090', 'A61278', 'A65252', 'A66385'}): 90,
 frozenset({'A28062', 'A61278', 'A65252', 'A66385', 'A67233'}): 91,
 frozenset({'A61278', 'A65252', 'A66385', 'A67233', 'A67259'}): 92,
 frozenset({'A64726', 'A65252', 'A66385', 'A67233', 'A67259'}): 93,
 frozenset({'A28062', 'A55090', 'A56154', 'A64726', 'A66385'}): 94,
 frozenset({'A28062', 'A55090', 'A56154', 'A61278', 'A65252'}): 95,
 frozenset({'A28062', 'A55090', 'A61278', 'A65252', 'A67233'}): 96,
 frozenset({'A28062', 'A55090', 'A65252', 'A66385', 'A67233'}): 97,
 frozenset({'A28062', 'A55090', 'A64726', 'A65252', 'A66385'}): 98,
 frozenset({'A28062', 'A55090', 'A56154', 'A66385', 'A67233'}): 99,
 frozenset({'A55090', 'A64726', 'A65252', 'A66385', 'A67233'}): 100,
 frozenset({'A28062', 'A64726', 'A65252', 'A66385', 'A67233'}): 101,
 frozenset({'A28062', 'A61278', 'A64726', 'A65252', 'A66385'}): 102,
 frozenset({'A56154', 'A61278', 'A67233', 'A67259', 'A73040'}): 103,
 frozenset({'A28062', 'A28420', 'A65252', 'A66385', 'A67233'}): 104,
 frozenset({'A28062', 'A28420', 'A64726', 'A65252', 'A66385'}): 105,
 frozenset({'A28062', 'A28420', 'A55090', 'A65252', 'A66385'}): 106,
 frozenset({'A28062', 'A28420', 'A55090', 'A56154', 'A66385'}): 107,
 frozenset({'A28062', 'A28420', 'A55090', 'A64726', 'A65252'}): 108,
 frozenset({'A55090', 'A61278', 'A64726', 'A65252', 'A67259'}): 109,
 frozenset({'A32899', 'A64726', 'A65252', 'A66385', 'A67259'}): 110,
 frozenset({'A32899', 'A56154', 'A61278', 'A66385', 'A67233'}): 111,
 frozenset({'A55090', 'A61278', 'A65252', 'A67233', 'A67259'}): 112,
 frozenset({'A32899', 'A55090', 'A56154', 'A64726', 'A67233'}): 113,
 frozenset({'A32899', 'A55090', 'A64726', 'A65252', 'A67233'}): 114,
 frozenset({'A32899', 'A64726', 'A65252', 'A66385', 'A67233'}): 115,
 frozenset({'A32899', 'A55090', 'A64726', 'A66385', 'A67233'}): 116,
 frozenset({'A32899', 'A56154', 'A64726', 'A66385', 'A67233'}): 117,
 frozenset({'A32899', 'A55090', 'A56154', 'A66385', 'A81371'}): 118,
 frozenset({'A28420', 'A55090', 'A56154', 'A66385', 'A81371'}): 119,
 frozenset({'A28420', 'A55090', 'A65252', 'A66385', 'A81371'}): 120,
 frozenset({'A28420', 'A32899', 'A55090', 'A65252', 'A81371'}): 121,
 frozenset({'A28420', 'A32899', 'A64726', 'A65252', 'A81371'}): 122,
 frozenset({'A32899', 'A55090', 'A65252', 'A66385', 'A81371'}): 123,
 frozenset({'A28420', 'A64726', 'A65252', 'A66385', 'A81371'}): 124,
 frozenset({'A28420', 'A55090', 'A56154', 'A65252', 'A66385'}): 125,
 frozenset({'A28420', 'A55090', 'A64726', 'A65252', 'A81371'}): 126,
 frozenset({'A32899', 'A55090', 'A64726', 'A65252', 'A81371'}): 127,
 frozenset({'A28420', 'A32899', 'A55090', 'A56154', 'A81371'}): 128}

In [9]:
#Összesen 15 játékost szerepeltettek a bajnokságban, ebből 3003 féle ötös variáció lehetséges, de ezek közül csak 129 félét próbáltak ki

In [7]:
inorder_hash=[]
played_mins=[]
for game in playedgames:
    lineup=set()
    for i,row in boxscore.iterrows():
        if((row['team']==9800)&(row['extra1']==game)):
            lineup.add(row['CODE'])
    tmp=frozenset(lineup)
    inorder_hash.append(hashtable.get(tmp))
    fr=0
    pbp_game=pbp[pbp['gamecode']==game].sort_values(by=['sorrend'])
    for i,row in pbp_game.iterrows():
         if((row['teamid']==9800)&(row['fccode']==1011)):
            to=int((row['period']-1)*10+row['minute'])
            played_mins.append(to-fr)
            lineup.add(row['playercode'])
            lineup.discard(row['playercode2'])
            tmp=frozenset(lineup)
            inorder_hash.append(hashtable.get(tmp))
            fr=to
    played_mins.append(40-fr)

In [11]:
len(played_mins)

616

In [12]:
len(inorder_hash)

616

In [8]:
def get_points(row):
    if((row['fccode']==1000)&(row['teamid']==9800)):
            if(row['subcode']==3):
                return 3
            elif(row['subcode']==4):
                return 1
            else:
                return 2
    return 0

In [9]:
def get_otherMetrics(row,param,param2=-1):
    if((row['fccode']==param)|(row['fccode']==param2)):
        return 1
    return 0

In [10]:
metrics=[]
for game in playedgames:
    points=0
    shoots=0
    missed=0
    defrb=0
    offrb=0
    steal=0
    turnover=0
    assist=0
    block=0
    fd=0
    pbp_game=pbp[pbp['gamecode']==game].sort_values(by=['sorrend'])
    for i,row in pbp_game.iterrows():
        if(row['teamid']==9800):
            points+=get_points(row)
            shoots+=get_otherMetrics(row,1000,1001)
            missed+=get_otherMetrics(row,1001)
            defrb+=get_otherMetrics(row,1002,2002)
            offrb+=get_otherMetrics(row,1003,2003)
            steal+=get_otherMetrics(row,1004,2004)
            turnover+=get_otherMetrics(row,1005,2005)
            assist+=get_otherMetrics(row,1008)
            block+=get_otherMetrics(row,1009)
            fd+=get_otherMetrics(row,1007,2007)
            if(row['fccode']==1011):
                metrics.append([points,shoots,missed,defrb,offrb,steal,turnover,assist,block,fd])
                points=0
                shoots=0
                missed=0
                defrb=0
                offrb=0
                steal=0
                turnover=0
                assist=0
                block=0
                fd=0
    metrics.append([points,shoots,missed,defrb,offrb,steal,turnover,assist,block,fd])

In [16]:
len(metrics)

616

In [11]:
df=pandas.DataFrame(metrics)
df.columns=['points','shots','missed','defrb','offrb','steal','turnover','assist','block','fouldrawn']
df['min']=played_mins
df['hash']=inorder_hash
df.groupby('hash').sum().sort_values(by=['min','points'],ascending=False).head(10)

,points,shots,missed,defrb,offrb,steal,turnover,assist,block,fouldrawn,min
hash,,,,,,,,,,,
8,406,423,210,113,53,38,50,89,6,66,202
2,175,157,66,48,21,12,18,39,3,51,80
123,6,11,7,3,0,0,0,1,0,4,45
29,48,65,40,28,12,3,16,9,1,20,33
31,82,68,25,23,5,9,9,18,0,14,32
19,37,49,27,13,5,5,14,8,0,9,29
10,44,44,21,20,4,4,11,14,0,9,27
0,56,47,21,15,6,1,5,13,2,11,26
7,40,40,21,13,6,2,6,8,1,14,22
21,34,41,20,14,3,1,1,11,1,11,21

In [12]:
df["VAL"]=df["points"]+df["assist"]+df["defrb"]+df["offrb"]+df["fouldrawn"]+df["steal"]-df["missed"]-df['turnover']+df['block']
df.groupby('hash').sum().sort_values(by=['min','points'],ascending=False).head(20)

,points,shots,missed,defrb,offrb,steal,turnover,assist,block,fouldrawn,min,VAL
hash,,,,,,,,,,,,
8,406,423,210,113,53,38,50,89,6,66,202,511
2,175,157,66,48,21,12,18,39,3,51,80,265
123,6,11,7,3,0,0,0,1,0,4,45,7
29,48,65,40,28,12,3,16,9,1,20,33,65
31,82,68,25,23,5,9,9,18,0,14,32,117
19,37,49,27,13,5,5,14,8,0,9,29,36
10,44,44,21,20,4,4,11,14,0,9,27,63
0,56,47,21,15,6,1,5,13,2,11,26,78
7,40,40,21,13,6,2,6,8,1,14,22,57
21,34,41,20,14,3,1,1,11,1,11,21,54
28,52,39,14,8,5,5,7,10,1,16,19,76
32,21,22,11,6,3,2,7,5,0,11,14,30
33,16,24,14,9,3,0,3,4,0,9,11,24
120,26,21,6,10,0,0,2,7,1,6,10,42
36,21,19,8,5,2,1,3,3,0,8,9,29
67,14,13,6,5,1,1,1,3,0,7,9,24
23,17,14,7,4,2,1,3,3,0,9,8,26
30,17,20,12,3,4,1,1,2,0,7,8,21
87,16,18,9,0,4,2,3,3,0,4,8,17
12,20,16,5,5,4,0,1,5,1,4,7,33

In [18]:
#nézzük meg ezeket az értékeket 40 perces átlagra :)

In [19]:
result=df.groupby('hash').sum().sort_values(by=['min'],ascending=False).head(20)
for c in result.columns:
    if(c!='min'):
        result[c]=result[c]/result['min']*40

In [20]:
df['min'].sum()/40

20.0

In [21]:
len(playedgames)

20

In [22]:
data=result.copy()
data

,points,shots,missed,defrb,offrb,steal,turnover,assist,block,fouldrawn,min
hash,,,,,,,,,,,
8,80.396040,83.762376,41.584158,22.376238,10.495050,7.524752,9.900990,17.623762,1.188119,13.069307,202
2,87.500000,78.500000,33.000000,24.000000,10.500000,6.000000,9.000000,19.500000,1.500000,25.500000,80
123,5.333333,9.777778,6.222222,2.666667,0.000000,0.000000,0.000000,0.888889,0.000000,3.555556,45
29,58.181818,78.787879,48.484848,33.939394,14.545455,3.636364,19.393939,10.909091,1.212121,24.242424,33
31,102.500000,85.000000,31.250000,28.750000,6.250000,11.250000,11.250000,22.500000,0.000000,17.500000,32
19,51.034483,67.586207,37.241379,17.931034,6.896552,6.896552,19.310345,11.034483,0.000000,12.413793,29
10,65.185185,65.185185,31.111111,29.629630,5.925926,5.925926,16.296296,20.740741,0.000000,13.333333,27
0,86.153846,72.307692,32.307692,23.076923,9.230769,1.538462,7.692308,20.000000,3.076923,16.923077,26
7,72.727273,72.727273,38.181818,23.636364,10.909091,3.636364,10.909091,14.545455,1.818182,25.454545,22
21,64.761905,78.095238,38.095238,26.666667,5.714286,1.904762,1.904762,20.952381,1.904762,20.952381,21
28,109.473684,82.105263,29.473684,16.842105,10.526316,10.526316,14.736842,21.052632,2.105263,33.684211,19
32,60.000000,62.857143,31.428571,17.142857,8.571429,5.714286,20.000000,14.285714,0.000000,31.428571,14
33,58.181818,87.272727,50.909091,32.727273,10.909091,0.000000,10.909091,14.545455,0.000000,32.727273,11
120,104.000000,84.000000,24.000000,40.000000,0.000000,0.000000,8.000000,28.000000,4.000000,24.000000,10
36,93.333333,84.444444,35.555556,22.222222,8.888889,4.444444,13.333333,13.333333,0.000000,35.555556,9
67,62.222222,57.777778,26.666667,22.222222,4.444444,4.444444,4.444444,13.333333,0.000000,31.111111,9
30,85.000000,100.000000,60.000000,15.000000,20.000000,5.000000,5.000000,10.000000,0.000000,35.000000,8
87,80.000000,90.000000,45.000000,0.000000,20.000000,10.000000,15.000000,15.000000,0.000000,20.000000,8
23,85.000000,70.000000,35.000000,20.000000,10.000000,5.000000,15.000000,15.000000,0.000000,45.000000,8
12,114.285714,91.428571,28.571429,28.571429,22.857143,0.000000,5.714286,28.571429,5.714286,22.857143,7

In [23]:
pbp[(pbp['fccode']==1011)&(pbp['teamid']==9800)].groupby('gamecode').count()

,id,year,lea,teamid,side,playername,playername2,playercode,playercode2,playercode_c,...,subcode,rel_id,period,minute,sec,x,y,area,original_text,sorrend
gamecode,,,,,,,,,,,,,,,,,,,,,
1169,36,36,36,36,36,36,0,36,36,36,...,36,36,36,36,36,36,36,0,0,36
1182,29,29,29,29,29,29,0,29,29,29,...,29,29,29,29,29,29,29,0,0,29
1186,36,36,36,36,36,36,0,36,36,36,...,36,36,36,36,36,36,36,0,0,36
1197,36,36,36,36,36,36,0,36,36,36,...,36,36,36,36,36,36,36,0,0,36
1201,34,34,34,34,34,34,0,34,34,34,...,34,34,34,34,34,34,34,0,0,34
1205,33,33,33,33,33,33,0,33,33,33,...,33,33,33,33,33,33,33,0,0,33
1213,36,36,36,36,36,36,0,36,36,36,...,36,36,36,36,36,36,36,0,0,36
1219,30,30,30,30,30,30,0,30,30,30,...,30,30,30,30,30,30,30,0,0,30
1226,22,22,22,22,22,22,0,22,22,22,...,22,22,22,22,22,22,22,0,0,22
1227,27,27,27,27,27,27,0,27,27,27,...,27,27,27,27,27,27,27,0,0,27
1240,38,38,38,38,38,38,0,38,38,38,...,38,38,38,38,38,38,38,0,0,38
1245,29,29,29,29,29,29,0,29,29,29,...,29,29,29,29,29,29,29,0,0,29
1254,27,27,27,27,27,27,0,27,27,27,...,27,27,27,27,27,27,27,0,0,27
1255,26,26,26,26,26,26,0,26,26,26,...,26,26,26,26,26,26,26,0,0,26
1266,37,37,37,37,37,37,0,37,37,37,...,37,37,37,37,37,37,37,0,0,37
1270,34,34,34,34,34,34,0,34,34,34,...,34,34,34,34,34,34,34,0,0,34
1280,33,33,33,33,33,33,0,33,33,33,...,33,33,33,33,33,33,33,0,0,33
1283,27,27,27,27,27,27,0,27,27,27,...,27,27,27,27,27,27,27,0,0,27
1290,26,26,26,26,26,26,0,26,26,26,...,26,26,26,26,26,26,26,0,0,26

In [24]:
data["VAL"]=data["points"]+data["assist"]+data["defrb"]+data["offrb"]+data["fouldrawn"]+data["steal"]-data["missed"]-data['turnover']+data['block']

In [25]:
data.sort_values('min',ascending=False)

,points,shots,missed,defrb,offrb,steal,turnover,assist,block,fouldrawn,min,VAL
hash,,,,,,,,,,,,
8,80.396040,83.762376,41.584158,22.376238,10.495050,7.524752,9.900990,17.623762,1.188119,13.069307,202,101.188119
2,87.500000,78.500000,33.000000,24.000000,10.500000,6.000000,9.000000,19.500000,1.500000,25.500000,80,132.500000
123,5.333333,9.777778,6.222222,2.666667,0.000000,0.000000,0.000000,0.888889,0.000000,3.555556,45,6.222222
29,58.181818,78.787879,48.484848,33.939394,14.545455,3.636364,19.393939,10.909091,1.212121,24.242424,33,78.787879
31,102.500000,85.000000,31.250000,28.750000,6.250000,11.250000,11.250000,22.500000,0.000000,17.500000,32,146.250000
19,51.034483,67.586207,37.241379,17.931034,6.896552,6.896552,19.310345,11.034483,0.000000,12.413793,29,49.655172
10,65.185185,65.185185,31.111111,29.629630,5.925926,5.925926,16.296296,20.740741,0.000000,13.333333,27,93.333333
0,86.153846,72.307692,32.307692,23.076923,9.230769,1.538462,7.692308,20.000000,3.076923,16.923077,26,120.000000
7,72.727273,72.727273,38.181818,23.636364,10.909091,3.636364,10.909091,14.545455,1.818182,25.454545,22,103.636364
21,64.761905,78.095238,38.095238,26.666667,5.714286,1.904762,1.904762,20.952381,1.904762,20.952381,21,102.857143
28,109.473684,82.105263,29.473684,16.842105,10.526316,10.526316,14.736842,21.052632,2.105263,33.684211,19,160.000000
32,60.000000,62.857143,31.428571,17.142857,8.571429,5.714286,20.000000,14.285714,0.000000,31.428571,14,85.714286
33,58.181818,87.272727,50.909091,32.727273,10.909091,0.000000,10.909091,14.545455,0.000000,32.727273,11,87.272727
120,104.000000,84.000000,24.000000,40.000000,0.000000,0.000000,8.000000,28.000000,4.000000,24.000000,10,168.000000
36,93.333333,84.444444,35.555556,22.222222,8.888889,4.444444,13.333333,13.333333,0.000000,35.555556,9,128.888889
67,62.222222,57.777778,26.666667,22.222222,4.444444,4.444444,4.444444,13.333333,0.000000,31.111111,9,106.666667
30,85.000000,100.000000,60.000000,15.000000,20.000000,5.000000,5.000000,10.000000,0.000000,35.000000,8,105.000000
87,80.000000,90.000000,45.000000,0.000000,20.000000,10.000000,15.000000,15.000000,0.000000,20.000000,8,85.000000
23,85.000000,70.000000,35.000000,20.000000,10.000000,5.000000,15.000000,15.000000,0.000000,45.000000,8,130.000000
12,114.285714,91.428571,28.571429,28.571429,22.857143,0.000000,5.714286,28.571429,5.714286,22.857143,7,188.571429

In [26]:
p = dict(zip(hashtable.values(),hashtable.keys()))

In [27]:
p.get(8)

frozenset({'A28420', 'A32899', 'A55090', 'A65252', 'A66385'})

In [28]:
players=pandas.read_csv('players_hun1920.csv')
players

     teamid            playername playercode
0      9800       DJURASOVIC Bozo     A32899
1      9800    WITTMANN Krisztian     A55090
2     40010      BOZOVIC Milivoje     A29560
3      9800      KARAHODZIC Kemal     A65252
4     40010           RIZVIC Ramo     A52597
..      ...                   ...        ...
199   40000   MILOSEVIC Strahinja     A50894
200    9213           RISKO David     A69376
201    9013  TRASER Nandor Zoltan     A66399
202    9002       SOVEGJARTO Abel     A92229
203    9003           KISS Matyas    A308757

[204 rows x 3 columns]

In [29]:
for i,row in players.iterrows():
    if(row['playercode'] in p.get(2)):
        print(row)

teamid                   9800
playername    DJURASOVIC Bozo
playercode             A32899
Name: 0, dtype: object
teamid                      9800
playername    WITTMANN Krisztian
playercode                A55090
Name: 1, dtype: object
teamid                     9800
playername    DERASIMOVIC Marko
playercode               A28420
Name: 8, dtype: object
teamid               9800
playername    REVESZ Adam
playercode         A56154
Name: 10, dtype: object
teamid                              9800
playername    THOMAS JR Cleveland Joseph
playercode                        A66385
Name: 11, dtype: object

In [31]:
data['VAL'].mean()

108.97721145883061